html,
body {
      height: 100%;
      background-color: #f6f9ff;
}

a {
      color: #222;
}

ul {
      list-style: none;
      margin: 0;
      padding: 0;
}

img {
      max-width: 100%;
      max-height: 100%;
}


/* MODULE */

.badge {
      padding: 5px 10px;
      background-color: #999;
      color: white;
      border-radius: 30px;
      font-weight: 100;
}

.date-box:before,
.date-box:after,
.date-box-head:before,
.date-box-head:after,
.date-box-date:before,
.date-box-date:after {
      content: "";
      display: table;
      clear: both;
}

.date-box {
      background-color: #f6f9ff;
}

.date-box-summary {
      display: flex;
      padding: 10px 20px;
      background-color: white;
}

.date-box-summary * {
      font-size: 13px;
}

.date-box-summary>.date-box-title {
      flex-grow: 1;
}

.date-box-summary>*+* {
      margin-left: 20px;
}

.date-box-info>.date-now {
      margin-right: 5px;
}

.date-box-head {
      margin-bottom: 5px;
      background-color: white;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.date-box-cell {
      position: relative;
      float: left;
      margin-bottom: 5px;
      width: 14.2857%;
      text-align: center;
}

.date-now,
.date-box-cell>span {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #6f8294;
      border-radius: 40px;
}

.date-now {
      cursor: pointer;
}

.date-now.readed {
      min-width: 10px;
      min-height: 10px;
      background-color: #3366ff;
      color: white;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.date-now.reread {
      background-color: #ff9966;
      color: white;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.date-now.unread {
      background-color: white;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.date-now.small {
      height: 10px;
      width: 10px;
}

.label {
      display: inline-block;
      padding: 2px 5px;
      font-size: 13px;
      border-left: 3px solid #ccc;
      border-radius: 3px;
      background-color: #e7ebf3;
}

.label.yellow {
      border-color: #f9bd7d;
      background-color: #ffefe7;
}

.label.blue {
      border-color: #6e99fa;
      background-color: #e4e9ff;
      color: #6e99fa;
}

.label.red {
      border-color: #ff8d8d;
      background-color: #f7e1e1;
      color: red;
}

.label+.label {
      margin-left: 5px;
}


/* OVERRIDE */

.input-group-prepend.has-icon .input-group-text {
      padding-top: .1rem;
      padding-bottom: .1rem;
      font-size: 32px;
      line-height: 32px;
}

.btn-confirm {
      color: #fff;
      background-color: #ff7001;
      border-color: #ff7001;
}
.btn-done {
      color: #fff;
      background-color: #3366ff;
      border-color: #3366ff;
}

.btn-outline-option {
      background-color: white;
      background-image: none;
      border-color: #dee4f2;
}

.pop-message {
      display: none;
}

.title {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
}

.subtitle {
      font-size: 16px;
      color: #999;
      text-align: center;
}
.sqr{
      position: relative;
      width: 100%;
}
.sqr:before{
      content: "";
      display: block;
      padding-top: 100%;
}
.sqr-inner{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
}

.card {
      position: relative;
      display: inline-block;
      padding: 20px 20px 0 20px;
      max-width: 300px;
      overflow: hidden;
      border: 1px solid #e7ebf3;
      -webkit-box-shadow: 1px 1px 3px #ccc;
      -moz-box-shadow: 1px 1px 3px #ccc;
      box-shadow: 1px 1px 3px #ccc;
}

.card-image>img {
      max-width: 100%;
}

.card-info {
      display: flex;
      padding: 20px;
}

.card-info-text {
      flex-grow: 1;
}

.card-normal {
      padding: 0;
      max-width: none;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
}

.card-normal img {
      width: 100%;
}

.card-state {
      display: none;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      border-radius: 12px;
      overflow: hidden;
      font-size: 22px;
      text-align: center;
      line-height: 20px;
      background-color: white;
}

.card-state i.fa {
      height: 24px;
}

.card-book {
      padding: 0;
      margin-bottom: 10px;
      border-radius: 10px;
}
.card-book.sqr:before {
       padding-top: 117%;
}

.card-book .card-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      padding: 5px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
}
.card-book .card-image img {
      width: 100%;
}

.books:after,
.books:before{
      content:"";
      display: table;
      clear: both;
}
.book{
      float: left;
      padding: 5px;
      width: 33.3333%;
      box-sizing: border-box;
}

.card-book.done {
      border: 5px solid #3366ff;
}

.card-book.done .card-state {
      display: block;
      color: #3366ff;
}

.content>*+* {
      margin-top: 10px;
}

.content>.card {
      margin-top: 30px;
}

.content.center {
      text-align: center;
}


/* STRUCTURE */

.page {
      padding-top: 55px;
      padding-bottom: 100px;
      min-width: 320px;
}

.page-header {
      position: fixed;
      top:0;
      left:0;
      right:0;
      display: flex;
      padding: 10px 20px;
      background-color: white;
      border-bottom: 1px solid #e7ebf3;
      z-index: 200;
}

.page-header * {
      vertical-align: middle;
}

.page-header>*+* {
      margin-left: 5px;
}

.page-content {}

.page-nav,
.page-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
}

.page-footer>.btn {
      border-radius: 0;
}

.page-nav {
      display: flex;
      background-color: white;
      box-sizing: border-box;
      border-top: 1px solid #e7ebf3;
}

.page-nav-item {
      padding: 10px 0;
      flex-grow: 1;
      text-align: center;
      cursor: pointer;
}

.page-nav-item.active,
.page-nav-item:hover,
.page-nav-item.active *,
.page-nav-item:hover * {
      color: #06f;
}

.page-nav-icon {
      font-size: 34px;
}

.page-back {
      font-family: FontAwesome;
      font-size: 32px;
      line-height: 32px;
      cursor: pointer;
}

.page-back:before {
      content: "\f104";
}

.page-header-title {
      line-height: 32px;
      text-align: center;
      flex-grow: 1;
}

.page-title:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      width: 5px;
      background-color: #ff5f00;
}

.page-title {
      position: relative;
      display: flex;
      padding: 10px 20px;
}

.page-title.blue:before {
      background-color: #3366ff
}

.page-title-text {
      flex-grow: 1;
}

.page-title-info {
      color: #999;
}

.page-title.border {
      border-bottom: 1px solid #e7ebf3;
}

.page-section {
      margin: 10px 0;
}

.page-section.section-white {
      background-color: white;
      border-top: 1px solid #e7ebf3;
      border-bottom: 1px solid #e7ebf3;
}

.page-section-box {
      padding: 20px;
}

.page-banner {
      margin-bottom: 20px;
      padding: 20px 20px 0 20px;
      text-align: center;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* PAGE LINE */
.page-line {
      position: relative;
      margin: 20px 20px;
      text-align: center;
      overflow: hidden;
}

.page-line:before,
.page-line:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      margin-right: -50px;
      width: 50%;
      border-top: 1px solid #ccc;
}

.page-line:before {
      right: 50%;
      margin-right: 60px;
}

.page-line:after {
      left: 50%;
      margin-left: 60px;
}

.page-line-text {
      position: relative;
      padding: 3px 10px;
      display: inline-block;
      background-color: #999;
      border-radius: 5px;
      color: white;
      z-index: 10;
}


/* PAGE LABEL */

.page-label {
      margin: 20px 0;
}

.page-label-name {
      display: inline-block;
      margin-right: 10px;
}

.select-step>.btn.selected {
      background-color: #3366ff;
      color: white;
}

.select-step>.btn>i.fa {
      visibility: hidden;
      float: right;
      color: white;
      font-size: 1.3rem;
}

.page-article strong {
      font-weight: 600;
}

.select-step>.btn.selected>i.fa {
      visibility: visible;
}


/* ITEM */

.items {
      margin-bottom: 10px;
}

.item {
      display: flex;
}
.item + .item{
      margin-top: 10px;
}

.item-icon {
      min-width: 50px;
      width: 50px;
      height: 50px;
      font-size: 32px;
      text-align: center;
      border-radius: 50px;
}

.item-icon.red {
      background-color: #ff6666;
      color: white;
}
.item-icon.yellow {
      background-color: #ffcc33;
      color: white;
}
.item-icon.blue {
      background-color: #0099ff;
      color: white;
}

.item-image {
      min-width: 80px;
      width: 160px;
}

.item-image>img {
      max-width: 100%;
      max-height: 100%;
}

.item-content {
      position: relative;
      margin-left: 10px;
      padding-bottom: 30px;
      flex-grow: 1;
}

.item-content.no-padding {
      padding: 0;
}

.item-more {
      cursor: pointer;
      font-size: 32px;
}

.item-list>li {
      display: flex;
      padding: 10px 0;
}

.item-list>li+li {
      border-top: 1px solid #e7ebf3;
}

.item-list>li>label {
      margin-right: 10px;
      color: #999;
}

.item-title {
      font-size: 24px;
      font-weight: bold;
}

.item-info {
      color: #999;
}

.item-price {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
}

.item-price-current {
      flex-grow: 1;
      color: #ff3300;
      font-size: 24px;
}
.item.item-nav{
      align-items: center;
}
.item.item-nav .item-content {
      padding: 0;
}

.sub-total {
      display: flex;
      padding: 0 20px;
      align-items: center;
      border-top: 1px solid #e7ebf3;
}

.page-section-box .sub-total {
      margin-left: -20px;
      margin-right: -20px;
}

.sub-total-name {
      margin-right: 10px;
      flex-grow: 1;
      text-align: right;
      font-size: 24px;
}

.sub-total-price {
      font-size: 32px;
      color: #ff3300;
}


/* PAY ACTION */

.pay-action {
      display: flex;
      border-top: 1px solid #e7ebf3;
      align-items: center;
      background-color: white;
}

.pay-action-info {
      margin-right: 10px;
      flex-grow: 1;
      text-align: right;
}

.pay-action .btn {
      border-radius: 0;
}

.pay-action-price {
      font-size: 32px;
      color: #ff3300;
}

/* QUESTION */
.question + .question{
      margin-top: 20px;
}
.question-title {
      margin-bottom: 10px;
}

.question-answers {
      margin-left: 15px;
}
.question-answers > li{
      margin-right: 5px;
}
.question-result{
      text-align: right;
}
.question-result-button{
      display: inline-block;
      padding: 3px 8px;
      border-radius: 15px;
      border: 1px solid #3366ff;
      color: #3366ff;
      cursor: pointer;
}
.question-answers.grid{
      display: flex;
      align-items: center;
}
.question-answers.grid > li{
      flex-grow: 1;
      text-align: center;
}
.image-card{
      display: inline-block;
      max-width: 200px;
      max-height: 200px;
      border-radius: 5px;
      overflow: hidden;
}

/* PROFILE */

.profile {
      padding: 20px 20px 0 20px;
      background-color: #0099ff;
}

.profile-avator {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 5px solid white;
      overflow: hidden;
}

.profile-name {
      padding: 10px 20px;
      text-align: center;
      color: white;
}

.profile-total {
      display: flex;
      margin-left: -20px;
      margin-right: -20px;
      background-color: white;
}

.profile-total-cell {
      position: relative;
      padding: 20px;
      flex-grow: 1;
      text-align: center;
      font-size: 13px;
}

.profile-total-cell+.profile-total-cell:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      bottom: 20px;
      border-left: 1px solid #c9d2e5;
}

.profile-total-count {
      font-size: 24px;
      font-weight: bold;
      color: #3366ff;
}

.profile-total-unit {
      color: #3366ff;
}
.profile.min{
      display: flex;
      padding: 0;
      background-color: initial;
      align-items: center;
}
.profile.min .profile-avator{
      width: 50px;
      height: 50px;
}
.profile.min .profile-name{
      padding: 10px;
      flex-grow: 1;
      color: #222;
      text-align: left;
}
/* TABLE BOX */
.table-box{
      width: 100%;
}
.table-box > thead tr{
      font-weight: bold;
}
.table-box tr:nth-of-type(2n+2){
      background-color: #f6f9ff;
}
.table-box td{
      text-align: center;
}
.tips{
      color: red;
      cursor: pointer;
}

.tips-pop *{
      color: white;
}
.tips-pop .arrow:after{
      border-right-color: #ff9999;
}
.tips-pop .popover-header,
.tips-pop{
      border: 0;
      background-color: #ff9999;
}
.tips-pop .popover-header{
      position: relative;
}
.tips-pop .popover-header:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 10px;
      left: 10px;
      border-top: 1px solid #ffcccc;
}
@media screen and (max-width: 480px){
      .book{
       width: 50%;     
      }
  }